
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# client: new frontend dependencies 

.cursor/*

# dependencies
client/node_modules
client/.pnp
client/.pnp.*
client/.yarn/*
client/!.yarn/patches
client/!.yarn/plugins
client/!.yarn/releases
client/!.yarn/versions

client/.env.local

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
client/.env*

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts



# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

frontend/.env.local

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
 
backend/.venv/*

backend/.env
backend/__pycache__
backend/dump.rdb 
dump.rdb





# dependencies
client/node_modules
client/.pnp
client/.pnp.*
client/.yarn/*
client/!.yarn/patches
client/!.yarn/plugins
client/!.yarn/releases
client/!.yarn/versions

client/.env.local

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
client/.env*

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

